/*
    Created on : Nov 16, 2022
    Author     : Matt, Steven, Jawon

   to be updated after base functionality
*/


/* styles for grid from the car DB */

:root {
    --accent-color1: #7862ff;
}
.grid-container {
    margin: 10px auto 10px auto;
    width: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.item {
    float: left;
    min-height: 1px;
    padding: 16px;
    text-align: center;
}

.rcd-numbers {
    color: rgb(0, 0, 0);
    font-size: 16px;
    display: inline-block;
}

#searchbar {
    float: right;
    margin: 2em;
}

#wrapper {
    background-color: var(--accent-color1);
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    border-radius: 4px;
}

#wrapper * {
    color: white;
}

#footer {
    text-align: center;
    background-color: #cccccc;
    padding: 0.3em;
}

#main-header {
    margin-top: 0.6em;
    padding-left: 1em;
    font-size: 2em;
    font-weight: bold;
    color: var(--accent-color1);
}
