/*
    Created on : Nov 16, 2022
    Author     : Matt, Steven, Jawon

   to be updated after base functionality
*/


/* styles for grid from the movie DB */
.grid-container{
    margin: 10px auto 10px auto;
    width: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.item {
    float: left;
    min-height: 1px;
    padding: 16px;
    text-align: center;
}